@import "../Index.scss";

.card_items {
  background-color: $primary_color-revert;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  // height: 1000px;
}
