@import "../Index.scss";

.card_items {
  background-color: $primary_color-revert;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
  padding: 2rem 0;
}
