$primary_color: #627254;
$secondary_color: #76885b;
$primary_color-revert: #f1f1f1;
$bg-light-color: #dddddd;
$bg-dark-color: #0c0c0c;
$text-light-color: #eeeeee;
$text-dark-color: #0c0c0c;

$fw-light: 200;
$fw-regular: 350;
$fw-semi-bold: 400;
$fw-bold: 600;

$display-xs: 0.5rem;
$display-s: 0.75rem;
$display-m: 1rem;
$display-l: 1.25rem;
