@import "../Index.scss";

.menu {
  display: flex;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100vw;
  position: fixed;
  justify-content: end;
  transition: 0.5s ease-in-out;
  .sidebar {
    width: 35%;
    height: 100%;
    background-color: $primary_color;
    color: $text-light-color;
    button {
      background: none;
      color: $text-light-color;
      border: none;
      cursor: pointer;
      margin: 1rem;
    }
    .sidebar_items {
      display: flex;
      justify-content: center;
      padding: 1rem;
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        li {
          list-style-type: none;
          text-align: center;
          a {
            color: whitesmoke;
            text-decoration: none;
          }
        }
      }
    }
  }
}
.menu.open {
  right: 0;
}
